---
import InputText from "../components/InputText.astro";
import FormLayout 
	from "../layouts/formLayout.astro";




---

<FormLayout>
	<h2 slot="subtitulo">Ingrese informacion</h2>
<InputText etiqueta="Nombre completo"
		slot ="caja-texto-nombre"/>
<InputText 
		etiqueta=":Apellido Completo"
		slot="caja-texto-apellido"/>
<InputText
		etiqueta="Correo Electronico"
		slot="caja-texto-email"/>
</FormLayoutLayout>
