---
import { string } from 'astro:schema'

// Definimos las propiedades
//que pueda recibir el componene
interface Props {
    etiqueta: string;
  
}

//crear una variaeble
//para recibir etiqueta
//Astr.prop=los valores desde
//    el control
const {etiqueta} = Astro.props;

---

<!--
etiqueta input:
se utiliza para los siguientes 
controles:
-Campo
-password
-chckbox
-radio button
boton de envio
ES ETIQUETA CERRADA
-->
<label >{ etiqueta }:</label>
<input type="text" />
<style>
    /*solo se puede poner aqui */
    /*sintaxis css
    /*estilos para el input text*/
    /*selector de etiqueta*/
    /*estilos apicables a toda etiqueta*/
    /*señalada por el selector*/
    input[type="text"]{
        background-color:rgb(100, 122, 48);
        width:400xp;
        height: 20px;
        color: blue;
        /*bordes
        -color
        -peso(grosor)
        -estilo(tipo de linea)
        */
        border-color: brown;
        border-width: 3px;
        border-style: solid;
        border-radius: 5px;
        
    }
</style>