---
//div: etiqueta abierta
// tienen elementos dentrp
// permite especificamente 
//propiedades de ubicacion
interface Props {
    etiqueta: string;
  
}
const {etiqueta} = Astro.props;
---

<label>{etiqueta}</label>
<div>
    <div id="cedula">  
        <input
        type="radio"
        name="rbg"
        id="radio1"
    />
    <strong>CC</strong>
</div>
    <div id="tarjeta_i">
        <input 
        type="radio"
        name="rbg"
        id="radio2"
    /> <strong>TI</strong>
</div>
   
    <div id="cedula_ex">    
        <input
        type="radio"
        name="rbg"
        id="radio3"
    /><strong>CE</strong>  
</div>

</div>
<style>
    #cedula{
       background-color: chartreuse;
       /*display:
       determina como una etiqueta
       se comporta en cuanto a:display:
       largo, ancho, ubicacion;*/
       display: inline;
    }
     #tarjeta_i{
       background-color: rgb(167, 93, 91);
       /*display:
       determina como una etiqueta
       se comporta en cuanto a:display:
       largo, ancho, ubicacion;*/
       display: inline;
    }
    #cedula_ex{
       background-color: rgb(83, 74, 134);
       /*display:
       determina como una etiqueta
       se comporta en cuanto a:display:
       largo, ancho, ubicacion;*/
       display: inline;
    }
</style>
